<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Hostelly</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.Hostelly.Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeServlet</display-name>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>com.Hostelly.Servlet.homeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>laundryServlet</display-name>
    <servlet-name>laundryServlet</servlet-name>
    <servlet-class>com.Hostelly.Servlet.laundryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>laundryServlet</servlet-name>
    <url-pattern>/laundryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>housekeepingServlet</display-name>
    <servlet-name>housekeepingServlet</servlet-name>
    <servlet-class>com.Hostelly.Servlet.housekeepingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>housekeepingServlet</servlet-name>
    <url-pattern>/housekeepingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeServlet2</display-name>
    <servlet-name>homeServlet2</servlet-name>
    <servlet-class>com.Hostelly.Servlet.homeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet2</servlet-name>
    <url-pattern>/homeServlet2</url-pattern>
  </servlet-mapping>
</web-app>